# Python
.venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
.mypy_cache/
.ruff_cache/
.DS_Store/
.vscode/
.idea/

# Project specific
data/
!data/**/.gitkeep
output/
!output/**/.gitkeep

# Temporary files
*.tmp
*.log
logs/
.monitor_pid
solution.csv

